<!-- Name, Address, and Contact -->

<div class="w3-white w3-text-grey w3-card-4">
<div class="w3-display-container">
<img src="https://media-exp1.licdn.com/dms/image/C4D03AQFPKLe95BkM_w/profile-displayphoto-shrink_800_800/0?e=1608163200&v=beta&t=AI1aKK7TXWEQlDlvdQW4leQi58sY_2oAyHmo89rQ4VY" style="width:100%" alt="Avatar">
<div class="w3-display-bottomleft w3-container w3-text-black">
<h1><b>Muhammad Khan</b></h1>
</div>
</div>
<div class="w3-container">
   <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-blue"></i>PEGA CSA / Full Stack Developer</p>
   <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-blue"></i>Flushing, New York </p>
   <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-blue"></i>example@student.qcc.cuny.edu</p>
   <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-blue"></i>(646) 000-0000</p>
   <hr>

   <!--   (4) Skills / Languages horizontal graphs are used from W3 CSS --> 

   <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-blue"></i>Skills</b></p>
   <p>Pega PRPC</p>
   <div class="w3-light-grey w3-round-xlarge w3-small">
   <div class="w3-container w3-center w3-round-xlarge w3-blue" style="height:14px;width:100%">100%</div>
 </div>
  <p>HTML, CSS (Front-End Development)</p>
  <div class="w3-light-grey w3-round-xlarge w3-small">
  <div class="w3-container w3-center w3-round-xlarge w3-blue" style="height:14px;width:90%">
  <div class="w3-center w3-text-white">90%</div>
  </div>
  </div>
  <p>TypeScript (Angular)</p>
 <div class="w3-light-grey w3-round-xlarge w3-small">
 <div class="w3-container w3-center w3-round-xlarge w3-blue" style="height:14px;width:80%">80%</div>
 </div>
 <p>SQL, Python, GO (Back-End / Computer Programming)</p>
 <div class="w3-light-grey w3-round-xlarge w3-small">
 <div class="w3-container w3-center w3-round-xlarge w3-blue" style="height:14px;width:50%">50%</div>
 </div>
 <br>

 <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-blue"></i>Languages</b></p>
 <p>English</p>
 <div class="w3-light-grey w3-round-xlarge">
  <div class="w3-round-xlarge w3-blue" style="height:14px;width:100%"></div>
 </div>
 <p>Pashto</p>
 <div class="w3-light-grey w3-round-xlarge">
 <div class="w3-round-xlarge w3-blue" style="height:14px;width:90%"></div>
 </div>
 <p>Urdu / Hindi</p>
 <div class="w3-light-grey w3-round-xlarge">
 <div class="w3-round-xlarge w3-blue" style="height:14px;width:80%"></div>
 </div>
 <br>
 </div>
</div><br>

