<!-- The following paragraphs are experiences  -->

 <div class="w3-twothird">
    
  <div class="w3-container w3-card w3-white w3-margin-bottom">
    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
    <div class="w3-container">
      <h5 class="w3-opacity"><b>Web Developer at ET-710</b></h5>
        <h6 class="w3-text-blue"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Aug 2020 - <span class="w3-tag w3-blue w3-round">Current</span></h6>
        <p>Currently working on building and desiging a resume and posting it on the web. I work on HTML and CSS. In addition, I work on Angular. It gives me an oppertunity to build experience on a TypeScript-based web application framework.</p>
        <hr>
    </div>
    <div class="w3-container">
      <h5 class="w3-opacity"><b>Network Support at Verifone Mobility</b></h5>
        <h6 class="w3-text-blue"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2017 - Jun 2019</h6>
          <p>•&nbsp;&nbsp;&nbsp; Worked on Case Management, User Interface, Decision Rules, Declarative Rules, Reporting and Integration<br>
          <br>
          •&nbsp;&nbsp;&nbsp;	Constantly monitor application performance using performance tools<br>
          <br>
          •&nbsp;&nbsp;&nbsp;	Followed Pega best’s practices regarding process development<br>
          <br>
          •&nbsp;&nbsp;&nbsp;	Manage Desktop Devices (hardware, software and connectivity) incidents and Service Requests through to resolution<br>
          <br>
          •&nbsp;&nbsp;&nbsp;	Installed and maintained printers, workstations<br>
          <br>
          •&nbsp;&nbsp;&nbsp;	Worked on Email notification where we send Email notification to the customer if work is assigned to them<br>
          <br></p>
      <hr>
   </div>
   </div>