<!-- The following paragraphs are work experiences  -->

<div class="w3-container w3-card w3-white w3-margin-bottom">
 <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-male fa-fw w3-margin-right w3-xxlarge w3-text-blue"></i>About me</h2>
 <p>3 years of IT Industry experience including 2 plus years of experience in implementing PRPC Applications. Working experience with Case Management, User Interface, Data Transform, and Activity. Good understanding of OOTB Pega rules. Ruleset and Rule Resolution understanding and experience. Experience in using performance and debugging tools like, Clipboard, Tracer, Live UI, and Log Files. 
 <br> In addition to sections, I worked on building and designing webpages using HTML and CSS. Experience in using Angular to build a TypeScript-based web application framework. Familiar with Python and Golang programming languages. I am well adoptable to challenging environments, team player, and a fast learner.</p>
 <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-blue"></i>Work Experience</h2>
 <div class="w3-container">
 <h5 class="w3-opacity"><b>Front-End Developer at QCC, ET-710</b></h5>
 <h6 class="w3-text-blue"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Aug 2020 - <span class="w3-tag w3-blue w3-round">Current</span></h6>
 <p>Currently working on designing and building webpages and posting it on the web. I work on HTML and CSS. In addition, I work on Angular. It gives me an opportunity to build experience on a TypeScript-based web application framework.</p>
 <hr>
 </div>
 <div class="w3-container">
 <h5 class="w3-opacity"><b>Network Support at Verifone Mobility</b></h5>
 <h6 class="w3-text-blue"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2017 - Jun 2019</h6>
 <p>•&nbsp;&nbsp;&nbsp; Worked on Case Management, User Interface, Decision Rules, Declarative Rules, Reporting and Integration<br>
 <br>
 •&nbsp;&nbsp;&nbsp;	Constantly monitor application performance using performance tools<br>
 <br>
 •&nbsp;&nbsp;&nbsp;	Followed Pega best’s practices regarding process development<br>
 <br>
 •&nbsp;&nbsp;&nbsp;	Manage Desktop Devices (hardware, software and connectivity) incidents and Service Requests through to resolution<br>
 <br>
 •&nbsp;&nbsp;&nbsp;	Installed and maintained printers, workstations<br>
 <br>
 •&nbsp;&nbsp;&nbsp;	Worked on Email notification where we send Email notification to the customer if work is assigned to them<br>
 <br></p>
 <hr>
 </div>
</div>