<!DOCTYPE html>
<html>


<body class="w3-light-grey">
<div class="w3-content w3-margin-top" style="max-width:1400px;">
<div class="w3-row-padding">
<div class="w3-third">
<br>
<br>
<!--   Name, Contact Info, Skills, and Languages are in Header.HTML -->    
<app-header></app-header>

<!-- End Left Column -->
</div>

<div class="w3-twothird">
<!-- Work experiences are present in the following component -->
<app-right-column></app-right-column>

<!-- The following component contains education info -->
<app-education></app-education>

<!-- End Right Column -->
</div>
    
<!-- End Grid -->
</div>
  
<!-- End Page Container -->
</div>

<!-- Footer component contains social media info -->
<app-footer></app-footer>


</body>
</html>
