<! -- Header -->
<h1 color=#1976d2>M/K &nbsp;&nbsp;&nbsp;Muhammad Khan</h1>
<hr style="width:60%;text-align:;margin-right:0">
<h6>Certified System Architect & Web Developer</h6>
<br>
<br>



<! -- Education  -->
<nav>
<div class="w3-container w3-card w3-white">
  <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
  <div class="w3-container">
   <h5 class="w3-opacity"><b>Queensborough Community College</b></h5>
     <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2019 - 2021</h6>
     <p>Internet & Information Technology</p>
    <hr>
 </div>
 <div class="w3-container">
    <h5 class="w3-opacity"><b>Code Academy</b></h5>
      <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2020 - Present</h6>
      <p>Certified Full-Stack Developer</p>
     <hr>
   </div>
  <div class="w3-container">
    <h5 class="w3-opacity"><b>Pega Academy</b></h5>
     <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2018 - Present</h6>
    <p>Certified System Architect</p><br>
  </div>
</div>
</nav>
<br>
<br>


<! -- Introduction / body  -->

<h1>About Me</h1>
 <p>3 years of IT Industry experience including 2 plus years of experience in implementing PRPC Applications. Working experience with Case Management, User Interface, Data Transform, and Activity. Good understanding of OOTB Pega rules. Rule set and Rule Resolution understanding and experience. Experience in using performance and debugging tools like, Clipboard, Tracer, Live UI, Log Files, PAL and System Management Application. Well adoptable to challenging environments, team player, and fast learner.</p>
 <br>
 <br>
 <br>

<! -- Work Experience  -->

<h1>Experience</h1>
<div>
  <p>Network Support</p>
  <p><i>Verifone Mobility / Queens, NY / 01/2017 – 06/2019</i><br></p>
  <br>
  <div style='font-size: 17px; font-family: corbel; padding-right: 10px'>
  •&nbsp;&nbsp;&nbsp; Worked on Case Management, User Interface, Decision Rules, Declarative Rules, Reporting and Integration<br>
  <br>
  •&nbsp;&nbsp;&nbsp;	Constantly monitor application performance using performance tools<br>
  <br>
  •&nbsp;&nbsp;&nbsp;	Followed Pega best’s practices regarding process development<br>
  <br>
  •&nbsp;&nbsp;&nbsp;	Manage Desktop Devices (hardware, software and connectivity) incidents and Service Requests through to resolution<br>
  <br>
  •&nbsp;&nbsp;&nbsp;	Installed and maintained printers, workstations<br>
  <br>
  •&nbsp;&nbsp;&nbsp;	Worked on Email notification where we send Email notification to the customer if work is assigned to them<br>
  <br>
  <br>
</div>


<! -- Work References  -->

<h1>References</h1>
<div style='font-size: 17px; font-family: corbel'>
  John Doe &nbsp; (718)000-1111&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <p><i>Manager at Verifone Mobility New York City branch</i></p><br>
  <br>
  Jane Smith &nbsp; (212)111-0000&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <p><i>Manager at Goldman Sachs</i></p>
  <br>
  Additional references are available upon request.<br>
</div>
<br>
<br>
<br>


<! -- Footer -->

<footer class="w3-container w3-teal w3-center w3-margin-top">
<p>Find me on social media.</p>
<a href="#" class="fa fa-linkedin"></a><a href="#"> linkedin.com/in/muhammad
-khan-21752a1a6</a>




<! -- Reference Links for icons / social media -->

<p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">