.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa {
  padding: 6px;
  font-size: 15px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
}