<! -- Education -->

<div class="w3-container w3-card w3-white">
    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
    <div class="w3-container">
      <h5 class="w3-opacity"><b>Queensborough Community College</b></h5>
      <h6 class="w3-text-blue"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2019 - Aug 2021</h6>
      <p>Internet & Information Technology</p>
       <hr>
    </div>
    <div class="w3-container">
      <h5 class="w3-opacity"><b>Code Academy</b></h5>
      <h6 class="w3-text-blue"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Aug 2020 - <span class="w3-tag w3-blue w3-round">Current</span></h6>
      <p>Web Developer</p>
      <hr>
   </div>
    <div class="w3-container">
     <h5 class="w3-opacity"><b>Pega Academy</b></h5>
     <h6 class="w3-text-blue"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Dec 2019 - <span class="w3-tag w3-blue w3-round">Current</span></h6>
     <p>System Architect</p><br>
   </div>
 </div>